.nav-link{
    color: black;
    
}
.fa-magnifying-glass{
    position: absolute;
    top: 30px;
    left: 660px;
    font-size: small;
    color: rgb(158, 154, 154);
}
.navbar-nav{
    position: absolute;
    right: 70px;
    font-size: small;
}
.fa-magnifying-glass{
    position: absolute;
    left: 450px;
    top: 13px;
}
.navbar-brand{
    margin: 20px 10px;
}
.background{
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 100px;
    z-index: -1;
}
.find{
    position: absolute;
    top: 350px;
    left: 56px;
    font-weight: bold;
    font-size: 250%;
    font-family: Roboto, sans-serif;
} 
.joy{
    position: absolute;
    top: 320px;
    left: 58px;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
}
.btn-group{
    
    background-color: rgb(245, 32, 75);
    width: 150px;
    height: 50px;
    font-size: large;
    position: absolute;
    top: 440px;
    left: 56px;
    border: none;
    font-family: Roboto, sans-serif;
}
.btn{
    color: white;
    border: none;
}

.box{
    /* border: 1px solid black; */
    width: 34%;
    height: 500px;
    display: flex;
    justify-content: flex-end;
    margin: 20% 62%;
    background-color: white;
    border-radius: 2%;
    box-shadow: 0px 0px 20px 1px black;
}
.heading{
display: flex;
justify-content: center;
padding: 20px;
font-size: large;
font-weight: 600;
}

.p1{
margin: 5px 17px;
padding: 5px;
width: 90%;
color: lightslategray;
font-weight: 600;
cursor: pointer;
background-color: rgb(228, 238, 238);
}
.rangebar{
    margin: 0px 18px;
}
.slider{
    margin: 0px 18px;
    width: 90%; 
}
.amount{
    margin: -7px 18px;
    font-size: small;
}
.rangebar1{
    margin: 15px 18px 0px;
}
.slider1{
    margin: 0px 18px;
    width: 90%; 
}
.btn2{
    background-color: rgb(245, 32, 75);
    width: 150px;
    height: 50px;
    font-size: large;
    position: absolute;
    top: 730px;
    left: 720px;
    border: none;
    font-family: Roboto, sans-serif;
    color: white;
    font-size: small;
    border-radius: 5px;
}
.welcome{
    /* border: 1px solid black; */
    width: 100%;
    position: absolute;
    top: 900px;
    display: flex;
}
.wel-img{
    display: flex;
    
}
.sel-center{
    display: flex;
    flex-direction: column;
    align-items: end;   
}
.sel{
    margin: 0px 137px 0px 0px;
}
.pag1{
    margin: 15px 18px;
    color:lightslategray ;
}
.card1{
    border: 1px solid rgb(235, 236, 238);
    width: 140px;
    height: 180px;
    position: absolute;
    top: 200px;
    left: 477px;    
}
.fa-coins{
    font-size: 30px;
    position: absolute;
    top: 40px;
    left: 20px;
    color: red;
}
.card1-mi{
    position: absolute;
    top: 80px;
    left: 20px;
    font-weight: 700;
    font-size: 25px;
}
.donation{
    position: absolute;
    top: 115px;
    left: 20px;
    color: lightslategray;
}
.card2{
    border: 1px solid rgb(235, 236, 238);
    width: 140px;
    height: 180px;
    position: absolute;
    top: 200px;
    left: 660px;  
}
.fa-book{
    font-size: 30px;
    position: absolute;
    top: 40px;
    left: 20px;
    color: red;
}
.card2-mi{
    position: absolute;
    top: 80px;
    left: 20px;
    font-weight: 700;
    font-size: 25px;
}
.book{
    position: absolute;
    top: 115px;
    left: 20px;
    color: lightslategray;
}
.card3{
    border: 1px solid rgb(235, 236, 238);
    width: 140px;
    height: 180px;
    position: absolute;
    top: 200px;
    left: 847px;
}
.fa-user-group{
    font-size: 30px;
    position: absolute;
    top: 40px;
    left: 20px;
    color: red;
}
.card3-mi{
    position: absolute;
    top: 80px;
    left: 20px;
    font-weight: 700;
    font-size: 25px;
}
.volunteers{
    position: absolute;
    top: 115px;
    left: 20px;
    color: lightslategray;
}






@media (max-width: 720px){
.background{
    width: 107%;
    height: 123vh;
    position: absolute;
    top: 100px;
    z-index: -1; 
}
.btn-group{
    position: absolute;
    top: 430px; 
}    
.box{
    position: absolute;
    top: 600px;
    left: -360px;
    width: 80%;
    height: 500px;
}
.btn2{
    position: absolute;
    left: 90px;
    top: 420px;
}
.welcome{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 1330px;
}
.sel{
    margin: 20px 82px;
    font-size: 225%;
}
.pag1{
    margin: -4px -10px;
    color:lightslategray ;

}.card1{
    position: absolute;
    left: 130px;
    top: 600px;
    display: flex;
    width: 470px;
    height: 180px;
}
.card2{
    display: flex;
    position: absolute;
    left: 130px;
    top: 780px;
    display: flex;
    width: 470px;
    height: 180px;
}
.card3{
    display: flex;
    position: absolute;
    left: 130px;
    top: 960px;
    display: flex;
    width: 470px;
    height: 180px;
}
}
